<style>
  h1{
    font-size: 42px;
    font-align: center;
    text-decoration: bold;
    color: red;
  }
</style>

<h1> This is King Mozzam Area!
</h1>
<p>Lorem ipsum kipsum yipsum lpop popo lopi.</p>


<img src="https://cdn.shopify.com/s/files/1/0458/0107/8941/products/Cowshed-MOTHER-To-Be-29222-p.png?v=1654969635">

<button>Mozzam King!</button>